@import "tailwindcss";

:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
    color-scheme: light dark;

    --color-primary: light-dark(var(--color-emerald-700), var(--color-emerald-300));
    --color-secondary: light-dark(var(--color-slate-700), var(--color-slate-300));
    --color-tertiary: light-dark(var(--color-lime-700), var(--color-lime-300));
    --color-background-dim: light-dark(var(--color-neutral-300), var(--color-neutral-900));
    --color-background: light-dark(var(--color-neutral-200), var(--color-neutral-800));
    --color-background-bright: light-dark(var(--color-neutral-100), var(--color-neutral-700));
    --color-container: light-dark(var(--color-neutral-400), var(--color-neutral-600));
    --color-text: light-dark(var(--color-neutral-800), var(--color-neutral-200));
    --color-text-muted: var(--color-neutral-500);
    --color-hover: rgba(127, 127, 127, 0.25);
    --color-active: rgba(127, 127, 127, 0.5);
    --color-outline: rgba(127, 127, 127, 0.75);
}

* {
    user-select: none;
}

html,
body,
#app {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: var(--color-background);
    color: var(--color-text);
    user-select: none;
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    src: url(assets/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2) format('woff2');
}

.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}